RewriteEngine On
RewriteBase /
RewriteRule ^aktualnosci$ index.php?&site=aktualnosci [L]
RewriteRule ^aktualnosci/([0-9]+)$ index.php?site=aktualnosci&news_id=$1
RewriteRule ^archiwum$ index.php?&site=archiwum [L]
RewriteRule ^galeria index.php?&site=galeria [L]
RewriteRule ^statut$ index.php?&site=statut [L]
RewriteRule ^onas$ index.php?&site=onas [L]
RewriteRule ^kontakt$ index.php?&site=kontakt [L]
RewriteRule ^dolacz$ index.php?&site=dolacz [L]
RewriteRule ^adder$ index.php?&site=adder [L]

RewriteRule ^([0-9]+)$ index.php?action=news&news_list=$1 [L]
RewriteRule ^([a-z]{2})/([0-9]+)$ index.php?action=news&news_list=$1 [L]

RewriteRule ^login$ index.php?action=login [L]
RewriteRule ^([a-z]{2})/login$ index.php?action=login [L]

RewriteRule ^page/([0-9]+)$ index.php?action=site&id=$1 [L]
RewriteRule ^([a-z]{2})/page/([0-9]+)$ index.php?action=site&id=$2&hf_lang=$1 [L]

RewriteRule ^user/([0-9]+)$ index.php?action=show_user&user_id=$1 [L]
RewriteRule ^([a-z]{2})/user/([0-9]+)$ index.php?action=show_user&user_id=$2&hf_lang=$1 [L]

RewriteRule ^news/([0-9]+)$ index.php?action=news&news_id=$1 [L]
RewriteRule ^([a-z]{2})/news/([0-9]+)$ index.php?action=news&news_id=$2&hf_lang=$1 [L]

RewriteRule ^news$ index.php?action=news [L]
RewriteRule ^([a-z]{2})/news$ index.php?action=news&hf_lang=$1 [L]

RewriteRule ^logout$ index.php?action=logout [L]
RewriteRule ^([a-z]{2})/logout$ index.php?action=logout&hf_lang=$1 [L]

RewriteRule ^admin$ index.php?action=admin [L]
RewriteRule ^([a-z]{2})/admin$ index.php?action=admin&hf_lang=$1 [L]

RewriteRule ^admin/news/edit$ index.php?action=admin&admin_act=edit_news [L]
RewriteRule ^([a-z]{2})/admin/news/edit$ index.php?action=admin&admin_act=edit_news&hf_lang=$1 [L]

RewriteRule ^admin/news/edit/([0-9]+)$ index.php?action=admin&admin_act=edit_news&news_edit_id=$1 [L]
RewriteRule ^([a-z]{2})/admin/news/edit/([0-9]+)$ index.php?action=admin&admin_act=edit_news&news_edit_id=$2&hf_lang=$1 [L]

RewriteRule ^admin/news/add$ index.php?action=admin&admin_act=add_news [L]
RewriteRule ^([a-z]{2})/admin/news/add$ index.php?action=admin&admin_act=add_news&hf_lang=$1 [L]

RewriteRule ^admin/menu index.php?action=admin&admin_act=menu_mod [L]
RewriteRule ^([a-z]{2})/admin/menu$ index.php?action=admin&admin_act=menu_mod&hf_lang=$1 [L]

RewriteRule ^admin/menu/([0-9]+)/rm$ index.php?action=admin&admin_act=menu_mod&rm=$1 [L]
RewriteRule ^([a-z]{2})/admin/menu/([0-9]+)/rm$ index.php?action=admin&admin_act=menu_mod&hf_lang=$1&rm=$2 [L]

RewriteRule ^admin/menu/([0-9]+)/edit$ index.php?action=admin&admin_act=menu_mod&edit=$1 [L]
RewriteRule ^([a-z]{2})/admin/menu/([0-9]+)/edit index.php?action=admin&admin_act=menu_mod&hf_lang=$1&edit=$2 [L]

RewriteRule ^admin/menu/([0-9]+)/moveup(up|down)$ index.php?action=admin&admin_act=menu_mod&move=$2&position=$1 [L]
RewriteRule ^([a-z]{2})/admin/menu/([0-9]+)/move(up|down) index.php?action=admin&admin_act=menu_mod&hf_lang=$1&position=$2&move=$3 [L]

RewriteRule ^admin/translator/untranslated index.php?action=admin&admin_act=translator&untranslated=1 [L]
RewriteRule ^([a-z]{2})/admin/translator/untranslated index.php?action=admin&admin_act=translator&untranslated=1&hf_lang=$1 [L]

RewriteRule ^admin/translator index.php?action=admin&admin_act=translator [L]
RewriteRule ^([a-z]{2})/admin/translator index.php?action=admin&admin_act=translator&hf_lang=$1 [L]

RewriteRule ^(pl|en) index.php?hf_lang=$1 [L]

RewriteCond %{REQUEST_FILENAME} !\.(zip|pdf|css|jpg|gif|js|png)$ [NC]  