{IF case=1}
<span style="color:red; font-weight:bold">Nie można usunąć elementu, ponieważ istnieją elementy podrzędne</span>
{/IF}
{IF case=2}
<span style="color:green; font-weight:bold">Pomyślnie usunięto element</span>
{/IF}

{IF case=6}
<span style="color:red; font-weight:bold">Nie można edytować elementu, ponieważ on nie istnieje!</span>
{/IF}

{IF case=3}
{menu_content}
<br />
<fieldset>
  <legend>Dodawanie elementu menu</legend>
  <form action="/{langID}/admin/menu" method="post">
    Tytuł: <input name="menuTitle"> 
    <br />Nadmenu: <select name="menuVal">
      <option value="-1">--- brak ---</option>
    {LOOP=menuList}
    <option value="{menuList[id]}">{menuList[title]}</option>
    {/LOOP}
    </select>
    <input type="submit" name="newMenuElement" value="Dodaj">
  </form>
</fieldset>
{/IF}

{IF case=4}
{IF was_edited=1}
<span style="color:green; font-weight:bold">Zapisano zmiany!</span><br /><br />
{/IF}
{editor}
{/IF}

{IF case=5}
<span style="color:green; font-weight:bold">Pomyślnie dodano element menu</span><br />
<a href="/{langID}/admin/menu/{menu_id}/edit">Przejdź do edycji tego elementu</a>
{/IF}
