<body>

  <div class="background" id="backgroundQuadro">
    <div class="background" id="backgroundStripe">
      <div class="background" id="backgroundClouds">
	<div class="background" id="backgroundSeparator">
	  <div class="background" id="backgroundFooter">
	    <div id="container">
	      {header}
	      

	      <div class="backgroundMain" id="backgroundMainCornerLeft">
		<div class="backgroundMain" id="backgroundMainCornerRight">
		  <div class="backgroundMain" id="backgroundMainEdge">
		    <div class="backgroundMain" id="backgroundContentLeft">
		      <div class="backgroundMain" id="backgroundContentRight">
			<div class="backgroundMain" id="backgroundContentWhite">
			  <div id="main">
			    {where_is}
			  </div>
			</div>
		      </div>

		      <div id="mainBody">
                        <div id="colLeft">
                          <div class="sideBox sideBoxLeft">
                            <div class="sideBoxHeader">
                              <h4>PARTNERZY</h4>
                            </div>
                            <div class="sideBoxContent">
                              <div class="center">
                                <a href="http://www.flytronic.pl" title="Flytronic" target="_blank">
                                  <img class="separator" src="/templates/platektemplejt/gfx/images/logo_ft.png" alt="Flytronic Logo">
                                </a>
                                <a href="http://www.wb.com.pl/" title="WB Electronics" target="_blank">
                                  <img class="separator" src="/templates/platektemplejt/gfx/images/logo_wb.jpg" alt="WB Electronics Logo">
                                </a>
                                <a href="http://www.polsl.pl/" title="Politechnika Śląska" target="_blank">
                                  <img class="separator" src="/templates/platektemplejt/gfx/images/logo_polsl.png" alt="Politechnika Śląska Logo">
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div id="contentBox">
                          <div id="content">
                          {main_content}
                          </div>
                        </div>
			
                        <div id="colRight">
                          <div class="sideBox sideBoxRight">
                            <div class="sideBoxHeader">
                              <h4>NOWOŚCI</h4>
                            </div>
                            <div class="sideBoxContent">
                              <ul>
                                <li><a class="normalLink" href="index.php?id=1">Zdjęcia z Sektora 3.0</a></li>
                                <li><a class="normalLink" href="index.php?id=1">Raporty aktywności sekcji</a></li>
                                <li><a class="normalLink" href="index.php?id=1">Współpraca z firmą W-Z</a></li>
                                <li><a class="normalLink" href="index.php?id=1">Forum technologiczne "Sektor 3.0"</a></li>
                                <li><a class="normalLink" href="index.php?id=1">Współpraca z Altium</a></li>
                                <li><a class="normalLink" href="index.php?id=1">Wigilia High Flyers</a></li>
                              </ul>
                              <a class="boldLink" href="index.php?action=news">Więcej artykułów...</a>
                            </div>
                          </div>
                          <div class="sideBox sideBoxRight">
                            <div class="sideBoxHeader">
                              <h4>INFORMACJE</h4>
                            </div>
                            <div class="sideBoxContent">
                              <div class="center separator">
                                <a href="index.php?p=4" title="Sekcje">
                                  <img src="/templates/platektemplejt/gfx/images/banner_adv.jpg" alt="Baner - High Flyers">
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="sideBox sideBoxRight">
                            <div class="sideBoxHeader">
                              <h4>ONLINE</h4>
                            </div>
                            <div class="sideBoxContent">
                              <p>Naszą stronę ogląda teraz<br><b>3 użytkowników i 17 gości</b></p>
                            </div>
                          </div>
                        </div>
                        <div class="clear"></div>
                      </div>
		    </div>
		  </div>
		</div>
	      </div>
	      
	      <div class="clear"></div>
	      
	      <div class="backgroundBottom" id="backgroundBottomLeft">
		<div class="backgroundBottom" id="backgroundBottomRight">
		  <div id="bottom">
		    <div class="center">
		      <img style="width:493px; margin:10px 0px;" src="/{tpl_url}/gfx/images/logo_ue.jpg" alt="Kapitał Ludzki - Narodowa Strategia Spójności, Unia Europejska - Europejski Fundusz Społeczny">
		    </div>
		  </div>
		</div>
	      </div>
	      
	      {footer}	      
	      
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</body>

