            <div id="footer">
            	<div class="center">
                    <div id="footerContainer1">
                        <p class="left"></p>
                        <p class="right">
                            <span>high.flyers@polsl.pl</span>
                            <a href="/?hf_lang={langID}&action=login">Panel użytkownika</a>
                            <span>{lang[page_project]}: Michał Płatek</span>
                        </p>
                    </div>
                    <div id="footerContainer2">
                    
                    </div>
            	</div>
            </div>