<div id="footer">
  <div class="center">
    <div id="footerContainer1">
      <p class="left">Ostatnia aktualizacja: 19.03.2013 19:27</p>
      <p class="right">
	<span>highflyers@polsl.pl</span>
	<a href="index.php?action=login">Panel użytkownika</a>
	<span>projekt strony: Michał Płatek</span>
      </p>
    </div>
    <div id="footerContainer2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat metus sit amet nisl accumsan condimentum. Cras sed felis diam, vitae ullamcorper dui. Ut tincidunt euismod felis feugiat malesuada.</p>
    </div>
  </div>
</div>
