<head>
  <meta charset="UTF-8">
  <meta name="robots" content="index, follow">
  <meta name="description" content="Międzywydziałowe Koło Naukowe High Flyers - projektujemy i budujemy autonomiczne systemy latajace i jezdne.">
  <meta name="keywords" content="uav, high flyers, koło naukowe, bsl, bezzałogowy, modelarstwo lotnicze, rcfangliwice, rc fan gliwice, unmanned aerial vehicle">
  <meta name="author" content="Marcin Kolny, Michał Płatek">
  
  <link rel="shortcut icon" href="/{tpl_url}/gfx/favicon.ico" type="image/x-icon"> 
  <link rel="stylesheet" type="text/css" href="/{tpl_url}/style/style.css">
  <link rel="stylesheet" type="text/css" href="/{tpl_url}/style/menu.css">
  <link rel="stylesheet" type="text/css" href="/{tpl_url}/style/scrollbar.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="/{tpl_url}js/menu.js"></script>
  <script type="text/javascript" src="/{tpl_url}js/script.js"></script>
  <script type="text/javascript" src="/common_js/script.js"></script>
  <script type="text/javascript" src="/{tpl_url}js/news.js"></script>
  <script type="text/javascript" src="/common_js/nicEdit.js"></script>
  <script type="text/javascript" src="/{tpl_url}js/jquery.mCustomScrollbar.js"></script>
  
  <title>High Flyers - {lang[official_website]}</title>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-31941592-1', 'polsl.pl');
    ga('send', 'pageview');

  </script>
</head>
