<head>
  <meta charset="UTF-8">
  <meta name="robots" content="index, follow">
  <meta name="description" content="Międzywydziałowe Koło Naukowe High Flyers - projektujemy i budujemy autonomiczne systemy latajace i jezdne.">
  <meta name="keywords" content="uav, high flyers, koło naukowe, bsl, bezzałogowy, modelarstwo lotnicze, rcfangliwice, rc fan gliwice, unmanned aerial vehicle">
  <meta name="author" content="Marcin Kolny, Michał Płatek">
  
  <link rel="stylesheet" type="text/css" href="/{tpl_url}/style/style.css">
  <link rel="stylesheet" type="text/css" href="/{tpl_url}/style/menu.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="/{tpl_url}/js/menu.js"></script>
  <script type="text/javascript" src="/{tpl_url}/js/script.js"></script>
  
  
  <title>High Flyers - oficjalna strona internetowa</title>
</head>
