<div id="top">
  <div class="backgroundNavBox" id="backgroundNavBoxCornerLeft">
    <div class="backgroundNavBox" id="backgroundNavBoxCornerRight">
      <div class="backgroundNavBox" id="backgroundNavBoxEdge">
        <div id="navBox">        
          <h1>
            <a id="homeLink" href="/index.php">HIGH FLYERS</a>
          </h1>
          <div id="mainMenu" class="ddsmoothmenu">
	    {main_menu}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="header">
    <a id="headerLink" href="/index.php">
      <img id="logo" src="/templates/platektemplejt/gfx/logo_hf.png" alt="High Flyers logo">
      <h2 id="mainHeader">MIĘDZYWYDZIAŁOWE KOŁO NAUKOWE<br> BEZZAŁOGOWYCH OBIEKTÓW LATAJĄCYCH</h2>
    </a>
    <div id="headerBox">
      {IF loggedin=1}
      <div style='background:white; padding:5px; margin:5px'>
Witaj <b>{user[nick]}</b>! &bull; <a class="hbLink" href='/logout'>Wyloguj</a>
      </div>
      {/IF}
      <span class="hbSpan">PL</span>
      <a class="hbLink" href="index.php?lang=pl">EN</a>
      <a class="hbLink" href="http://www.polsl.pl/" target="_blank">Politechnika Śląska</a>
      <form action="index.php" method="get">
        <input type="text" name="q" class="search" placeholder="Szukaj...">
      </form>
    </div>
  </div>
</div>
