			<div class="backgroundMain" id="backgroundMainCornerLeft">
            <div class="backgroundMain" id="backgroundMainCornerRight">
            <div class="backgroundMain" id="backgroundMainEdge">
            <div class="backgroundMain" id="backgroundContentLeft">
            <div class="backgroundMain" id="backgroundContentRight">
            <div class="backgroundMain" id="backgroundContentWhite">
                <div id="main">
{where_is}

					<div id="backgroundMainBodyColBg">
						<div id="backgroundMainBodyColShadowLeft">
							<div id="backgroundMainBodyColShadowRight">
								<div id="mainBody">
									<div id="colLeft">
										<div class="sideBox sideBoxLeft">
											<div class="sideBoxHeader">
                            	                <h4>{lang[partners]}</h4>
              								</div>
              								<div class="sideBoxContent withShadow">
              									<div class="center">
                                                    <a href="http://www.flytronic.pl" alt="Flytronic Sp. z o.o." target="_blank">
                                                        <img class="sponsorLogo" src="http://uav.polsl.pl/images/pliki/sponsorzy/ft.jpg">
                                                    </a>
                                                    <br /><br />
                                                    <a href="http://www.wb.com.pl" alt="WB Electronics" target="_blank">
                                                        <img class="sponsorLogo" src="http://uav.polsl.pl/images/pliki/sponsorzy/wb.jpg">
                                                    </a>
                                                    <br /><br />
                                                    <a href="http://www.altium.com/" target="_blank" title="Altium">
                                                    	<img class="sponsorLogo" src="images/pliki/strona/news/altium.jpg" alt="Altium" />
                                                    </a>
                                                    <br /><br />
                                                    <a href="http://www.wz-narzedzia.pl/" target="_blank" title="WZ-Narzędzia">
                                                    	<img class="sponsorLogo" src="images/pliki/sponsorzy/wz.jpg" alt="WZ-Narzędzia" />
                                                    </a>
                                                    <br /><br />
                                                    <a href="http://www.modele.sklep.pl/" target="_blank" title="Modele Sklep">
                                                        <img class="sponsorLogo" src="images/pliki/sponsorzy/modele.png" alt="Modele Sklep" />
                                                    </a>
                                                    <br /><br />
                                                    <a href="http://www.mesco.com.pl/" target="_blank" title="MESco">
                                                        <img class="sponsorLogo" src="images/pliki/sponsorzy/mesco.jpg" alt="MESco" />
                                                    </a>
                                                    <br /><br />
                                                    <a href="http://www.osiline.com/" target="_blank" title="Osiline">
                                                        <img class="sponsorLogo" src="images/pliki/sponsorzy/osiline.png" alt="Osiline" />
                                                    </a><br /><br />
                                                    <a href="http://www.parklotniczy.pl/" target="_blank" title="Bielski Park Lotniczy">
                                                        <img class="sponsorLogo" src="images/pliki/sponsorzy/park_lotniczy.png" alt="Bielski Park Lotniczy" />
                                                    </a>
                                                    <br /><br />
                                                    <a href="http://www.pzlmielec.pl" target="_blank" title="PZL Mielec">
                                                        <img class="sponsorLogo" src="images/pliki/sponsorzy/mielec.jpg" alt="PZL Mielec" title="PZL Mielec" />
                                                    </a>
                                                    <br /><br />
                                                    <a href="http://www.tme.eu" target="_blank" title="Transfer Multisort Elektronik">
                                                        <img class="sponsorLogo" src="images/pliki/sponsorzy/tme_znak_sq.jpg" alt="Transfer Multisort Elektronik" title="Transfer Multisort Elektronik" />
                                                    </a>
												</div>
											</div>
										</div>
									</div>
									<div id="contentBox" class="withTopBorder">
										<div id="content">
            								<h3 class="contentHeader">{lang[hello_here]}!</h3>
            								<p>{lang[hello_message]}</p>
                							<h3 class="contentHeaderBlue">{lang[news]}</h3>
            								{main_content}
                							<div class="clear"></div>
										</div>
									</div>
	  
                                    <div id="colRight">
										<div class="sideBox sideBoxRight">
                                        	{news_short_list}
                                    	</div>
                                    	<div class="sideBox sideBoxRight">
                                    		<div class="sideBoxHeader">
                                    			<h4>{lang[shortcut]}</h4>
                                   			</div>
                                    		<div class="sideBoxContent withShadow">
                                    			<ul>
                                                	<li><a class="normalLink" href="http://uav.polsl.pl/?action=site&id=5">{lang[joinUs]}</a></li>
                                    				<li><a class="normalLink" href="http://uav.polsl.pl/?hf_pagepl&action=site&id=34">{lang[media]}</a></li>
                                                    <li><a class="normalLink" href="http://uav.polsl.pl/?hf_pagepl&action=site&id=6">{lang[sponsors]}</a></li>
                                                </ul>
                                                <br />
                                                <div class="fb-facepile" data-href="https://www.facebook.com/high.flyers.polsl" data-width="180" data-max-rows="5" data-colorscheme="light" data-size="small" data-show-count="true"></div>
                                     		</div>
                                   		</div>
          							</div>
          						<div class="clear"></div>
         					</div>
          				</div>
					</div>
				</div>
			</div>
			</div>
			</div>
			</div>
            </div>
            </div>
