 <ul>

{LOOP=master_loop}
{master_loop}
{/LOOP}
              <li>
                <a class="menuItemTopLevel" href="index.php?p=1">Strona główna</a>
              </li>
              <li>
                <a class="menuItemTopLevel" href="index.php?p=2">O nas</a>
                <ul>
                  <li>
                    <a href="index.php?p=2-1">Osiągnięcia</a>
                    <ul>
                      <li>
                        <a href="index.php?p=2-1-1">MIWL 2012 <span class="menuItemDesc">konkurs bezzałogowców</span></a>
                      </li>
                      <li>
                        <a href="index.php?p=2-1-2">ACC 2011 <span class="menuItemDesc">konkurs udźwigowców</span></a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="index.php?p=2-2">Media o nas</a>
                  </li>
                </ul>
              </li>
            </ul>
