<h3 class="contentHeader">Profil użytkownika {user[nick]}</h3>
{IF logged=1}
<table>
  <tr>
    <td>
      <img src="http://www-03.ibm.com/software/lotus/symphony/gallery.nsf/GalleryClipArtAll/73E72278395F57D985257596002FB590/$File/User02-Green.png" width=100>
    </td>
    <td>
      <table>
	<tr>
	  <td>
	    {lang[login]}: 
	  </td>
	  <td>
	    {user[nick]}
	  </td>
	</tr>
	<tr>
	  <td>
	    {lang[name]} {lang[and]} {lang[second_name]}: 
	  </td>
	  <td>
	    {user[firstName]} {user[secondName]}
	  </td>
	</tr>
	<tr>
	  <td>
	    {lang[email]}: 
	  </td>
	  <td>
	    {user[email]}
	  </td>
	</tr>
	<tr>
	  <td>
	    {lang[slave_duration]}: 
	  </td>
	  <td>
	    {user[joined]}
	  </td>
	</tr>
	<tr>
	  <td>
	    {lang[position]}:
	  </td>
	  <td>
	    {user[position]}
	  </td>
	</tr>
	<tr>
	  <td colspan=2>
	    <input type=button value="Napisz do mnie maila">
	  </td>
	</tr>
      </table>
    </td>
  </tr>
</table>
{/IF}
{IF logged=0}
{lang[must_be_logged_alert]}
{/IF}
