<div id="contentTop">
  <div id="contentTopLeft">
    <div id="breadscrumbs">

      <a href="/">Strona główna</a>
      {IF first_exists=1}
      <div id="breadscrumbsArrow"></div>
      <a href="/page/{first_id}">{first_t}</a>
      {/IF}
      {IF medium_exists=1}
      <div id="breadscrumbsArrow"></div>
      <a href="/page/{med_id}">{med_t}</a>
      {/IF}
      {IF article=1}
      <div id="breadscrumbsArrow"></div>
      <span>{last_level_title}</span>
      {/IF}
    </div>
  </div>
  <div id="contentTopRight">
    <div id="socialButtons">
      <a class="socialButton" id="button_rss" href="index.php?action=rss" target="_blank">
	<img src="" alt="RSS">
      </a>
      <a class="socialButton" id="button_fb" href="http://facebook.com/high.flyers.polsl" target="_blank">
	<img src="" alt="Find us on Facebook!">
      </a>
      <a class="socialButton" id="button_picasa" href="http://picasaweb.google.com/highflyers.polsl" target="_blank">
	<img src="" alt="High Flyers on Picasa">
      </a>
      <a class="socialButton" id="button_yt" href="http://www.youtube.com/user/HighFlyersPOLSL" target="_blank">
	<img src="" alt="Our Youtube channel">
      </a>
    </div>
  </div>
</div>
