                    <div id="contentTop">
                        <div id="contentTopLeft">
    						{content}
                        </div>
                        <div id="contentTopRight">
                        	<div id="socialButtons">
                                <!--<a class="socialButton" id="button_rss" href="index.php?action=rss" target="_blank">
                                    <img src="" alt="RSS">
                                </a>-->
                                <a class="socialButton" id="button_fb" href="http://facebook.com/high.flyers.polsl" target="_blank">
                                    <img src="" alt="Find us on Facebook!">
                                </a>
                                <a class="socialButton" id="button_picasa" href="http://picasaweb.google.com/highflyers.polsl" target="_blank">
                                    <img src="" alt="High Flyers on Picasa">
                                </a>
                                <a class="socialButton" id="button_yt" href="http://www.youtube.com/user/HighFlyersPOLSL" target="_blank">
                                    <img src="" alt="Our Youtube channel">
                                </a>
                            </div>
                        </div>
                    </div>
